<section class="block">
  <img class="block-profile__bg-top" src="images/bg-pattern-top.svg" alt="" />
  <img
    class="block-profile__bg-bottom"
    src="images/bg-pattern-bottom.svg"
    alt=""
  />
  <div class="profile-card">
    <div class="profile-card__header">
      <img
        class="profile-card_background"
        src="images/bg-pattern-card.svg"
        alt=""
      />
      <img class="profile-card__image" src="images/image-victor.jpg" alt="" />
    </div>
    <div class="profile-card__body">
      <div class="profile-card__user-info">
        <h1>Victor Crest <span class="profile-card__number">26</span></h1>
        <p>London</p>
      </div>
      <div class="profile-card__dashboard">
        <div>
          <h2>80k</h2>
          <p>Followers</p>
        </div>
        <div>
          <h2>803k</h2>
          <p>Likes</p>
        </div>
        <div>
          <h2>1.4k</h2>
          <p>Photos</p>
        </div>
      </div>
    </div>
  </div>
</section>
